.container{
    background-color: pink;
}

.container-to-click{
    background-color:black;
    width: 100px;
    height:50px;
    border: 1px solid bisque;
    border-radius: 10px;
}

.container-to-click :hover{
    cursor:pointer;
}

.container-to-click p{
    text-align: center;
    color: azure;
}